<div>
    <div>
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div>
                <div>
                    <button type="submit"  [disabled]="!recipeForm.valid">Save</button>
                    <button type="button"  (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" formControlName="imagePath"  #imagePath>
                    </div>
                </div>
            <div>
                <div>
                    <img [src]="imagePath.value">
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label for="description">Description</label>
                        <textarea type="text" id="description"  formControlName="description"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <div  formArrayName="ingredients">
                    <div *ngFor="let ingredientCtrl of controls; let i = index"
                        [formGroupName]="i" style="margin-top: 10px;">
                        <div>
                            <input type="text" formControlName="name">
                        </div>
                        <div>
                            <input type="number" formControlName="amount">
                        </div>
                        <div>
                            <button type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            <button
                                type="button"
                                class="btn btn-success"
                                (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>