<footer class="wrapper">
    <div class="copy-right">
        <p>&#169;2024 DalBhat Recipes</p>
    </div>

    <div class="logo-div">
        <a routerLink='home' routerLinkActive="router-link-active"><img src="assets/images/logo.png" class="Logo" alt="Recipe Logo"/></a>
    </div>

    <div class="contacts">
        <a href=""><img src="assets/images/email.png" alt=""></a>
        <img src="assets/images/facebook.png" alt="">
        <img src="assets/images/instagram.png" alt="">
    </div>
</footer>
