<!-- <div>
    <h2>Recipe Search</h2>
    <div>
        <input [(ngModel)]="query" placeholder="Enter search query">
        <div >
            <button (click)="searchRecipes()">Search</button>
        </div>
    </div>
</div> -->
<div class="search_addnew">
    <div class="search_wrap search_wrap_6">
        <div class="search_box">
            <input type="text" class="input" [(ngModel)]="query" placeholder="Enter search query">
            <div class="btn" (click)="searchRecipes()">
                <p>Search</p>
            </div>
        </div>
    </div>