<div class="recipe-card">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}">

<div class="recipe-header">
    <h1>{{recipe.name}}</h1>
</div>

<div>
    <div class="dropdown">
        <span>Manage Recipe</span>
        <ul class="dropdown-content">
            <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
            <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
        </ul>
    </div>
</div>

<div>
    <p>{{recipe.description}}</p>
</div>
<div>
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
    </ul>
</div>
</div>